.tabContainer {
  display: flex;
  justify-content: space-between;
  background: var(--playground-main-color);
  border-bottom: 1px solid var(--playground-secondary-color);
}

.tabStyle {
  border: none;
  border-right: 1px solid var(--playground-secondary-color);
  background: var(--playground-main-color);
  color: var(--ifm-color-emphasis-700);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tabStyle svg {
  margin-left: 0.3rem;
}

.tabStyle:hover {
  background: var(--playground-secondary-color);
}

.tabStyle:disabled {
  background: var(--playground-secondary-color);
  color: var(--ifm-color-emphasis-900);
}
